/*  ------- DEBUT ------- */

.bs01         { list-style-type: disc; color: #FF0000 }

.AmmAnnexeTitre3 {
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: underline;
}

.AmmAnnexeTitre4 {
	font-style: italic;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: underline;

}

.AmmCorpsTexteGras {
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.AmmIAM {
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 38px;
	color: #000000;
	list-style-image: url('../images/plus02.gif');
	list-style-position: outside;
}

.AmmListePuces1 {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 1cm ;
}

.AmmListePuces2 {
	list-style-type: circle;
	list-style-position: outside;
	padding-left: 2cm ;
}

.AmmListePuces3 {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 3cm ;
}

.AmmListePuces4 {
	list-style-type: circle;
	list-style-position: outside;
	padding-left: 4cm ;
}

.AmmListePuces5 {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 5cm ;
}

.AmmTableauCorpsTexte {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-style: italic;
}

.AmmTableauTitre1 {
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}

.AmmTableauTitre2 {
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
}

.AmmTableauTitre3 {
	padding-top: 0.25em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}

.AmmNoticeTitre1 {
	font-size: 13px;      /* plo */
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: left;
}

/* -------- FIN -------- */

/* ------ DEBUT -------- */

.AmmNoticeCorpsdeTexte {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}


.AmmNoticeListePuces {
	list-style-type: square;
	list-style-position: outside;
	padding-left: 1cm ;
}


/* -------  FIN --------- */

.TableResultat {
	border-style:solid;
	border-width:1px; 
}

.EnTeteTableau {
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	background-attachment: fixed;
	background-color: #000066;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

.TableRow01 {  
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #CACDDB;
}

.TableRow02 { 
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-attachment: fixed;
	background-color: #E1E1E1;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left center;
}

.Normal {  
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #330066;
}

.Navigation {  
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #330066;
}


A.navig:LINK
{
	color : #0000FF;
	text-decoration : underline;
}

A.navig:VISITED
{
	color: #0000FF;
	text-decoration : underline;
}

.TitrePage {  
	font-size: 19px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000066;
	vertical-align: middle;
	text-align: center;
	background-position: center center;
}

.BS          { 
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #00FF00;
}

.RcpTitre1 {  
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	border: 1px solid #000000;
	padding-bottom: 0.5em;
	padding-top: 1em;
	margin-top: 0em;
	margin-bottom: 0em;

}

.RcpTitre2 {  
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	padding-top: 0.5em;
	background-color: #FFFFFF;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

.AmmAnnexeTitre {  
	font-size: 24px;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	display: inline;
}

.AmmAnnexeTitre1 {  
	font-size: 13px;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: left;
}

.AmmAnnexeTitre2 {  
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: left;
}

/* BS-CM AFSSAPS 14-02-2007 */
.AmmAnnexeTitre2Bis {  
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: left;
}

.RcpTitre {  
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
}

.AmmCorpsTexte { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.AmmDenomination { 
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.AmmComposition { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.AmmTitulaireNom { 
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0em;
	padding-left: 1em;
	color: #000000;
}

.AmmTitulaireAdresse { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0em;
	margin-bottom: 0px;
	padding-bottom: 0em;
	padding-left: 1em;
	color: #000000;
}



.AmmTitulaireCpVillePays { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0em;
	margin-bottom: 0px;
	padding-bottom: 0em;
	padding-left: 1em;
	color: #000000;
}

.DateNotif { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: right;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 2em;
	padding-left: 1em;
	color: #900000; /*#df4646;*/
}

.AmmNoticeTitre1 {  
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-align: left;
}

.AmmNoticeCorpsdeTexte { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: justify;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.RcpNormalRetr1 { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: justify;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em;
	color: #000000;
}

.RcpNormalRetr2 { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: justify;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0em;
	padding-left: 2em;
}

.RcpTitre3 { 
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0.5em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 2em;
}

.AmmAnnexe { 
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 1em ;
	text-align: center;
}

.RcpNormalCentre { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: justify;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 1em ;
	text-align: center;
}

.RcpNormal { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 0em;
	color: #000000;
}

.NotDenomination {  
	font-weight: bold;
}

.NotListeRetr2 { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0em;
	padding-left: 2em ;
	list-style-type: disc;
}

.NotTitre { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
}

.NotTitre2 { 
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006633;
	padding-top: 0.5em;
	background-color: #FFFFFF;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

.AmmListePuces { 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 0px;
	padding-top: 0.25em;
	margin-bottom: 0px;
	padding-bottom: 0px ;
	padding-left: 0px;
	color: #000000;
}

.BasDePage {  
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	background-attachment: fixed;
	background-color: #000066;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
}

.TabMinigraphie1 {  
	font-size: 11px;
	font-weight: bold;
	color: #000080;
	text-decoration: none;
	background-color: #DBDBF7;
	vertical-align: middle;
}

.TabMinigraphie2 {  
	font-size: 11px;
	background-color: #F3F3FC;
}
/*vertical-align: middle*/ 

.TabMinigraphie3 {  
	font-size: 11px;
	background-color: #FFFFFF;
}
/*        vertical-align: middle}*/

.TabComposition {
	line-height: 15px;
}

.TabMinigraphie4 { 
	font-size: 11px;
	font-weight: bold;
	color: #000080;
	text-decoration: none;
	background-color: #FFFFFF;
	vertical-align: middle; 
}

.Tabwhite {  
	background-color: #FFFFFF
}

.Italic {  
	font-size: 11px;
	font-style: italic;
	background-color: #FFFFFF;
	vertical-align: middle;
}

.bold {  
	font-size: 11px;
	font-weight: bold;
	background-color: #FFFFFF;
	vertical-align: middle;
}

.Denomination {  
	font-size: 13px;
	background-color: #FFFFFF;
	vertical-align: middle;
	font-weight: bold;
}

.EnTeteTabGlossaire {  
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	background-attachment: fixed;
	background-color: #df4646;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

.TabwhiteGlossaire {  
	background-color: #FFFFFF ;
	line-height: normal;
	border-right-width: thin;
	border-color: #000000; 
}

.TableRowGlossaire01 {  
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #CACDDB;
}

.TableRowGlossaire02 { 
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-attachment: fixed;
	background-color: #E1E1E1;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left center; 
}

.boldAide {  
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
	background-attachment: fixed;
	background-color: #E1E1E1;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left center;
}

.textAide {  
	font-size: 13px;
	font-weight: normal;
}

.BleuAide {  
	font-size: 13px;
	font-weight: bold;
	color: #df4646;
}

/*----------------------*/
