body {
font-size : 12px;
font-family : Verdana, Arial, Helvetica, sans-serif;
padding:0;
margin:0.5em;
color:#111;
background-color:#f3f3f3;
}

.fieldset_menu {
margin-top:1em;
margin-left:auto;
margin-right:auto;
border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
border:#aaa solid 1px;
padding:1.5em;
background:#eee;
text-shadow:0 1px 0 #fff;
-moz-box-shadow: 1px 1px 2px #fff inset;
-webkit-box-shadow: 1px 1px 2px #fff inset;
box-shadow: 1px 1px 2px #fff inset;
width: 230px;
}

.fieldset_page {
margin-top:1em;
margin-left:auto;
margin-right:auto;
border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
border:#aaa solid 1px;
padding:1.5em;
background:#eee;
text-shadow:0 1px 0 #fff;
-moz-box-shadow: 1px 1px 2px #fff inset;
-webkit-box-shadow: 1px 1px 2px #fff inset;
box-shadow: 1px 1px 2px #fff inset;
width: 95%;
}

fieldset fieldset {
margin:0.8em;
background:#fff;
border:1px solid #aaa;
background:none repeat scroll 0 0 #e8e8e8;
}

fieldset legend {
font-weight:bold;
color:#444;
padding:5px 10px;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border:1px solid #aaa;
background-color:#fff;
-moz-box-shadow:3px 3px 15px #bbb;
-webkit-box-shadow:3px 3px 15px #bbb;
box-shadow:3px 3px 15px #bbb;
}

.admin_liste {
width : auto;
margin-top : 10px;
margin-bottom : 10px;
margin-left : 10px;
margin-right : 10px;
padding-top : 10px;
padding-bottom : 10px;
padding-left : 10px;
padding-right : 10px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #666;
    -moz-box-shadow:0 1px 2px #666;
    -webkit-box-shadow:0 1px 2px #666;

    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);  
}

td {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 12px;
color : #000000;
font-weight : normal;
text-align : left;
}
th {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 12px;
color : #000000;
font-weight : normal;
text-align : center;
}
a, a:link,
a:visited,
a:active {
    text-decoration:    none;
    color:              #0080C9;
    cursor:             pointer;
    outline: none;

}
a:hover {
    text-decoration:    underline;
    color:              #0080C9;
}
.a_bouton {
font-weight:bold;
margin:1px;
border: 1px solid #aaa;
padding: 4px 8px;
color: #111;
background: #ddd;
border-radius: 12px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
text-shadow: 0px 1px 0px #fff;
text-decoration: none;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
background: -o-linear-gradient(top,  #ffffff,  #cccccc);  
}
.a_bouton:hover{	
position: relative;
text-decoration: none;
background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
background: -moz-linear-gradient(top,  #cccccc,  #dddddd);
background: -o-linear-gradient(top,  #cccccc,  #dddddd);
cursor:pointer;
text-decoration: none;
}
form {
padding:            0;
    margin:             0;
    display:            inline;
}
input[type=text] {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    background:url(../img/input_bg.gif);
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;
}
input[type=password]{
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    background:url(../img/input_bg.gif);
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;
}
input[type=submit]{
    font-weight:bold;
    margin-left:14px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    text-decoration: none;
    background: #ddd;

    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;

    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);  
}
input[type=submit]:hover{	position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
    background: -moz-linear-gradient(top,  #cccccc,  #dddddd);
    background: -o-linear-gradient(top,  #cccccc,  #dddddd);
    cursor:pointer;
}
input, select, textarea {
    font-size: 1em;
}

i {
color : #333;
font-weight : italic;
font-size : 8pt;
}
b {
color : #111;
font-weight : bold;
font-size : 11px;
}
h3 {
color : #333;
font-weight : bold;
font-size : 13px;
}

table {
padding:0;
margin:0;
width:100%;
}
