<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>release/sscasosx</string>
	<key>CFBundleGetInfoString</key>
	<string>Couche d'abstraction systeme</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SSCASOSX</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>5.02</string>
	<key>CFBundleSignature</key>
	<string>SCAS</string>
	<key>CFBundleVersion</key>
	<string>5.02</string>
</dict>
</plist>
